platform.json
[{"id":"db095c7c.5236","type":"mqtt in","z":"a678ff08.f715c","name":"","topic":"sensor/face","qos":"0","datatype":"auto","broker":"256d199d.4cc4d6","x":120,"y":120,"wires":[["e9ac332.f1af6d","e703bb.9f9e6c48","7655981b.09e0d8"]]},{"id":"d32decee.19ce8","type":"mysql","z":"a678ff08.f715c","mydb":"72927c9a.6c8b44","name":"","x":120,"y":260,"wires":[[]]},{"id":"e9ac332.f1af6d","type":"function","z":"a678ff08.f715c","name":"input","func":"var label;\n\nif(msg.payload == \"0\"){\n    label = \"10603006A\";\n}\nelse if(msg.payload == \"1\"){\n    label = \"10603006A\";\n}\nelse if(msg.payload == \"2\"){\n    label = \"10603018A\";\n}\nelse if(msg.payload == \"3\"){\n    label = \"10603018A\";\n}\nelse if(msg.payload == \"4\"){\n    label = \"10603030A\";\n}\nelse if(msg.payload == \"5\"){\n    label = \"10603030A\";\n}\nelse\n    label = \"others\";\n    \nmsg.topic = \"INSERT INTO face (label) VALUES ('\" + label + \"' )\";\n\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":200,"wires":[["d32decee.19ce8"]]},{"id":"e703bb.9f9e6c48","type":"function","z":"a678ff08.f715c","name":"select","func":"var label = msg.payload.label;\n\nmsg.topic = \"SELECT label,time FROM face\" ;\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":20,"wires":[["407eb361.564b4c"]]},{"id":"407eb361.564b4c","type":"mysql","z":"a678ff08.f715c","mydb":"72927c9a.6c8b44","name":"","x":600,"y":20,"wires":[["3ae7411b.b735be","945b7cb9.f8b21"]]},{"id":"be1f32a8.aa437","type":"ui_table","z":"a678ff08.f715c","group":"dbe2e40b.4b66c8","name":"","order":1,"width":"0","height":"0","columns":[{"field":"label","title":"Label","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"arrive","title":"Arrive","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"time","title":"Time","width":"40%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":990,"y":20,"wires":[[]]},{"id":"3ae7411b.b735be","type":"debug","z":"a678ff08.f715c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"jsonata","x":600,"y":80,"wires":[]},{"id":"69c5a32e.5e86cc","type":"inject","z":"a678ff08.f715c","name":"Capture data periodically","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":20,"wires":[["e703bb.9f9e6c48"]]},{"id":"7655981b.09e0d8","type":"debug","z":"a678ff08.f715c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":380,"y":140,"wires":[]},{"id":"945b7cb9.f8b21","type":"function","z":"a678ff08.f715c","name":"filter","func":"var label = [\"10603006A\", \"10603018A\", \"10603030A\"]\nvar time = [\"None\", \"None\", \"None\"]\nvar arrive =[\"Not Arrived\",\"Not Arrived\",\"Not Arrived\"] \n\nfor(var i=0 ; i<msg.payload.length ; i++){\n    if(msg.payload[i].label == \"10603006A\"){\n        time[0] = msg.payload[i].time\n        arrive[0] = \"Arrived\"\n    }\n    else if(msg.payload[i].label == \"10603018A\"){\n        time[1] = msg.payload[i].time\n        arrive[1] = \"Arrived\"\n    }\n    else if(msg.payload[i].label == \"10603030A\"){\n        time[2] = msg.payload[i].time\n        arrive[2] = \"Arrived\"\n    }\n}\n\nmsg.payload = [{}]\n\nfor(var j=0 ; j<3 ; j++){\n    msg.payload[j] = {\"label\":label[j], \"arrive\":arrive[j] , \"time\":time[j]}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":20,"wires":[["3a687a9d.e48606","be1f32a8.aa437"]]},{"id":"3a687a9d.e48606","type":"debug","z":"a678ff08.f715c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"jsonata","x":840,"y":80,"wires":[]},{"id":"1e037e93.1f7911","type":"inject","z":"a678ff08.f715c","name":"delete data","topic":"DELETE FROM face","payload":"","payloadType":"date","repeat":"","crontab":"*/30 8-17 * * *","once":false,"onceDelay":0.1,"x":390,"y":80,"wires":[["407eb361.564b4c"]]},{"id":"256d199d.4cc4d6","type":"mqtt-broker","z":"","name":"","broker":"192.168.251.51","port":"1883","clientid":"face063018","usetls":false,"compatmode":true,"keepalive":"120","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"72927c9a.6c8b44","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"sensor","tz":""},{"id":"dbe2e40b.4b66c8","type":"ui_group","z":"","name":"到課狀況表","tab":"a269ecfc.e98da","order":1,"disp":true,"width":"6","collapse":false},{"id":"a269ecfc.e98da","type":"ui_tab","name":"Tab 5","icon":"dashboard","order":5}]
